<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.SalesPhoneManagementConnectionString"
            connectionString="Data Source=LAPTOP-SDLMECNT\QUANG;Initial Catalog=SalesPhoneManagement;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>